.form {
  padding-top: 40px;
}
.button1 {
  display: block !important;
  margin: 0px auto !important;
}
.button1 {
  margin-top: 25px !important;
}
.button1 + .button1 {
  margin-top: 10px !important;
}
