body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

a {
  text-decoration: none !important;
}

p {
  word-break: break-all !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 35px;
  justify-content: space-between;
  @media (max-width: 768px) {
    grid-template-columns: 100%;
  }
}

.info {
  @media (max-width: 768px) {
    grid-row: 1 / 2;
  }
}
